@use "../abstracts/variables";

.contact {
  &__title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.7em;
  }
  &__subtitle {
    text-align: center;
    color: #60637b;
    font-size: 1.17em;
    margin-bottom: 2.5em;
  }

  &__card {
    margin: 0 auto;
    background: #fff;
    border-radius: 26px;
    box-shadow: 0 8px 32px #0002;
    display: flex;
    gap: 6em;
    justify-content: center;
    align-items: flex-start;
    max-width: 940px;
    padding: 3em 3.5em 2.7em 3.5em;
    margin-bottom: 3em;
  }

  &__infos {
    display: flex;
    flex-direction: column;
    gap: 2.1em;
    min-width: 265px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1.15em;
  }

  &__icon {
    background: #7f7fd5;
    color: #fff;
    border-radius: 17px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.65em;
    flex-shrink: 0;
  }

  &__label {
    font-weight: 700;
    font-size: 1.08em;
    color: #222c35;
  }
  &__item-value {
    color: #60637b;
    font-size: 1em;
    word-break: break-all;
  }

  &__link {
    color: #60637b;
    text-decoration: none;
    transition: color 0.15s;
    &:hover {
      color: #7f7fd5;
      text-decoration: underline;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    min-width: 370px;
    width: 370px;
    label {
      font-weight: 500;
      color: #38385f;
      font-size: 1.05em;
      margin-bottom: 0.28em;
      display: flex;
      flex-direction: column;
      gap: 0.65em;
    }
    input,
    textarea {
      background: #f5f6fa;
      border: none;
      border-radius: 11px;
      padding: 1em 1.25em;
      font-size: 1.04em;
      color: #222c35;
      font-family: inherit;
      outline: none;
      transition: box-shadow 0.13s;
      box-shadow: 0 2px 7px #0001;
      resize: none;
    }
    textarea {
      min-height: 85px;
      max-width: 100%;
    }
    input:focus,
    textarea:focus {
      box-shadow: 0 0 0 2px #b1b4f5;
    }
    button[type="submit"] {
      margin-top: 0.6em;
      background: #7f7fd5;
      color: #fff;
      border: none;
      border-radius: 10px;
      padding: 1.05em 0;
      font-size: 1.13em;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.15s;
      box-shadow: 0 2px 12px #0001;
      &:hover {
        background: #6767c8;
      }
    }
  }
}
